spring:
  application:
    name: devops-app

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always

app:
  env: {{ app_env | default('local') }}
  version: {{ app_version | default('1.0.0') }}
